/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
// Fonts

$font-main: 'Gilroy';

// Colors
$white: #fff;
$black: #000;
$primary: #12195d;
$grey: #8792a4;
$light-grey: #ebeef3;
$blue: #0194da;
$dark-blue: #12195d;
$green: #113c49;

$dark: #25282a;
$light: #f6f5f5;

// Transitions
$dur: 350ms;
$ease: ease;

// Breakpoints
$phone-ultra-sm: 350;
$phone-sm: 480;
$phone-md: 600;
$phone: 767;
$tablet-sm: 800;
$tablet: 1024;
$tablet-l: 1199;
$lap-small: 1300;
$lap-medium: 1400;
$lap-large: 1450;
$lap-extra-large: 1680;

