.about-section {
    background-color: $green;
    padding-top: 80px;
    position: relative;

    @include mq($phone) {
        padding-top: 40px;
    }


    .about-section-numbers {
        display: flex;
        justify-content: space-between;

        @include mq($tablet-l) {
            flex-wrap: wrap;
            grid-gap: 15px;
        }

        .about-section-numbers-item {
            flex: 0 0 20%;
            max-width: 216px;

            @include mq($tablet-l) {
                flex: 0 1 45%;
                max-width: 45%;
            }

            

            .about-section-numbers-item-number {
                font-size: unquote('clamp(2rem, 1.65rem + 1.75vw, 3.75rem)');
                font-weight: 500;
                line-height: 1.17;
                letter-spacing: 0.03em;
                color: $white;

                @include mq($phone-sm) {
                    font-size: unquote('clamp(1rem, 1.6rem + 1.875vw, 3.75rem)');
                }
                
                >span {
                    position: relative;
                }

                .unit {
                    position: absolute;
                    top: 10px;
                    left: calc(100% + 10px);
                    font-size: unquote('clamp(0.875rem, 0.75rem + 0.625vw, 1.5rem)');

                    @include mq($phone) {
                        top: 5px;
                    }


                }
            }
        }
    }

    .about-section-banner {
        padding: 80px 80px 100px;
        border-radius: 40px;
        margin-top: 100px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        @include mq($phone) {
            margin-top: 40px;
            padding: 40px 20px;
            border-radius: 20px;
        }

        .head-title {
            max-width: 693px;
            color: $white;
            margin-bottom: 20px;

            @include mq($phone) {
                margin-bottom: 10px;
            }

            h2 {
                font-size: unquote('clamp(1.875rem, 1.475rem + 2vw, 3.875rem)');
                line-height: 1.13;
            }
        }

        .head-content {
            p {
                color: $white;
                max-width: 590px;
                margin-bottom: 15vw;
            }
        }

        .about-section-banner-button {
            a {
                font-size: 18px;
            }
        }
    }

    &::before {
        position: absolute;
        content: '';
        height: 160px;
        bottom: 0;
        width: 100%;
        background: linear-gradient(0deg, #f4f6fa, #f4f6fa);
    }
}