.hero-section {
    background: url('./assets/images/hero-home.jpg');
    height: 100vh;
    border-radius: 0 0 40px 40px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .section-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        padding-top: 100px;

        @include mq($tablet) {
            padding-top: 50px;
        }
        @include mq($phone) {
            padding-top: 0;
        }

    }

    @include mq($phone) {
        border-radius: 0 0 20px 20px;
        background: url('./assets/images/hero-home-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.hero-section-title {
    max-width: 693px;
    color: $white;
    margin-bottom: 40px;

    @include mq($phone) {
        margin-bottom: 25px;

    }
}

.hero-section-video {
    display: flex;
    align-items: center;
    color: $white;
    grid-gap: 15px;
    margin-bottom: 150px;
    max-width: fit-content;

    @include mq($phone) {
        margin-bottom: 135px;
    }
    @include mq($phone-ultra-sm) {
        margin-bottom: 15vh;
    }

    p {
        color: $white;
    }

    .another-circle {
        stroke-dasharray: 115;
        stroke-dashoffset: 115px;
        transition: stroke-dashoffset 1000ms ease;
        transform-origin: center center;
        transform: rotate(-90deg);
      }

    &:hover {
        .another-circle {
            stroke-dashoffset: 0;
        }
    }

}

.hero-section-linkbox {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(14px);
    max-width: fit-content;
    padding: 25px 20px;
    border-radius: 10px;
    grid-gap: 50px;

    .hero-section-linkbox-title {
        font-size: unquote('clamp(0.75rem, 0.7rem + 0.25vw, 1rem)');
        font-weight: 700;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: $white;
        line-height: 1.187;
    }

    .hero-section-linkbox-desc {
        color: $white;
    }

    svg {
        display: inline-block;
    }

    .another-circle {
        stroke-dasharray: 100;
        stroke-dashoffset: 100px;
        transition: stroke-dashoffset 1000ms ease;
        transform-origin: 0 0 0;
      }

    &:hover {
        .another-circle {
            stroke-dashoffset: 0;
                transform: translate(5, 14);
        }
    }
    
}

.socials {
    position: absolute;
    right: 10vw;
    bottom: 120px;

    @include mq($lap-small) {
        right: 20px;
    }
    @include mq($phone) {
        display: none;
    }

    ul {
        display: flex;
        grid-gap: 40px;

        a:hover {
            li {
                opacity: 0.6;
            }
        }

        li {
            color: $white;
            font-size: 20px;
            transition: opacity $dur ease;
        }
    }
}