/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/
.btn {
    display: inline-block;
    transition: $dur $ease;
    font-size: 12px;
    text-align: center;
    font-family: $font-main;
    border: none;
    outline: none;

    &:active,
    &:focus {
        outline: none;
    }
}

.primary-button {
    a {
        padding: 14px 30px;
        background-color: $white;
        color: $primary !important;
        font-size: unquote('clamp(0.75rem, 0.675rem + 0.375vw, 1.125rem)') !important;
        font-weight: 600;
        display: inline-block;
        border-radius: 45px;
        transition: color $dur ease, background-color $dur ease;

        @include mq($phone) {
            padding: 10px 20px;
        }

        &:hover {
            color: $white !important;
            background-color: $blue;

        }
    }
}

.primary-button-alt {
    a {
        padding: 14px 30px;
        background-color: $white;
        color: $primary !important;
        font-size: unquote('clamp(0.75rem, 0.675rem + 0.375vw, 1.125rem)') !important;
        font-weight: 600;
        display: inline-block;
        border-radius: 45px;
        transition: color $dur ease, background-color $dur ease;
        border: 0.5px solid $grey;

        @include mq($phone) {
            padding: 10px 20px;
        }

        &:hover {
            color: $white !important;
            background-color: $blue;
            border-color: $blue;
        }
    }
}
